<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TECHDON</title>
 <link rel="stylesheet" href="email.css" type="text/css">
</head>
<body>
<table>
				<tbody>
				<tr>
					<td>
						<table>
						<tbody>
						<tr>
							<td class="imgg" align="center">
								<img alt="" src="mail.jpg" >
							</td>
						</tr>
						<tr>
							<td class="heading"><strong>Hi Ahmed, </strong>
							</td>
						</tr>
						<tr>
							<td class="text" >Please verify your email address to continue using your account. If left unverified, your account will be purged in the next 90 days from the date of registration.<br>
								<br>
							</td>
						</tr>
						<tr>
							<td class="k">
								<table>
								<tbody>
								<tr>
									<td class="button" align="center" bgcolor="#8ac866"><a class="lnk" target="_blank" href="home.html">VERIFY E-MAIL ADDRESS</a>
					</td>
									
								</tr>
								</tbody>
								</table>
								</table>
		</table>
<table  class="bsh">
				<tbody>
				<tr>
					<td>
						<table class="k" >
						<tbody>
						<tr >
							<td class="cstmr"><strong>Customer Support</strong>
							</td>
						</tr>
						<tr >
							<td class="txt"> For further queries, get in touch with us at<br style="line-height:100%;">
								<a target="_blank" href="mailto:customerservice@theentertainerme.com">customerservice@techdon.com</a> or use our <br style="line-height:100%;">
								24hr live chat service. You can find live chat within <br style="line-height:100%;">
								the help section on the app and website.
							</td>
						</tr>
						</tbody>
						</table>
						</table>
</body>
</html>