<!DOCTYPE html>
<html>    
<head>    
    <meta charset="utf-8">    
    		<title>Techdon</title> 
     <link rel="stylesheet" href="style.css" type="text/css">   
</head>    
	<body>


		<header>
			<div class="wrapper">
				<div class="logo">
				<img src=techda.jpg >
			</div>
				<ul class="nav-area">
				<li><a href="home.html">Home </a></li>
				<li><a href="#">About </a></li>
				<li><a href="Services.html">Services </a></li>
				<li><a href="#">Donate </a></li>
				<li><a href="sa.html">Login </a></li>
				</ul>
			</div>
		</header>
	
		<h2>Services</h2>
			
		
		<p>
	<div class= "container"> 
			<img class="donate" border="0" alt="W3Schools" src="give.jpg">
			<a href="registry.html"> </a>
			
					<div class="image__title"> text</div>
				</div>
		
		
			<a href="registry.html">>
			<img class="recieve" border="0" alt="W3Schools" src="take.jpg" > 
			</a>
			<div>text</div>

			
		

	</body>    
</html> 